<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>学生管理</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="assets/bootstrap-validator/css/bootstrapValidator.min.css"/>
    <link rel="stylesheet" href="assets/bootstrap/js/bootstrap.css"/>
    <link rel="stylesheet" href="assets/nprogress/nprogress.css"/>
    <link rel="stylesheet" href="assets/admin.css"/>
    <style>
        .in1{margin: 0 auto; background: blue;color: black;}
    </style>
</head>
<body>
<!--侧边栏-->
<aside class="ad_aside">
    <!--商标-->
    <div class="brand"><a href="index.html">高校大创</a></div>
    <!--用户-->
    <div class="user">
        <img src="/assets/images/default.png" alt=""/>
        <span>超级管理员</span>
    </div>
    <!--菜单-->
    <div class="menu">
        <ul>
            <li class="now"><a href="/sM"><span class="glyphicon glyphicon-user"></span> 学生管理</a></li>
            <li>
                <a href="/tM"><span class="glyphicon glyphicon-user"></span> 老师管理</a>
            </li>
            <li>
                <a href="/xM"><span class="glyphicon glyphicon-user"></span> 校级管理</a>
            </li>
            <li>
                <a href="/zM"><span class="glyphicon glyphicon-user"></span> 专家管理</a>
            </li>
        </ul>
    </div>
</aside>
<!--内容-->
<section class="ad_section">
    <!--顶部导航-->
    <nav class="ad_nav">
        <a data-menu href="javascript:;"><span class="glyphicon glyphicon-align-justify"></span></a>
        <a data-logout href="/login"><span class="glyphicon glyphicon-log-out"></span></a>
    </nav>
    <div class="container-fluid">
        <!--路径导航-->
        <ol class="breadcrumb">
            <li><a href="#">管理系统</a></li>
            <li class="active">学生管理</li>
        </ol>
        <div class="ad_content">
            <button type="button" class="btn btn-default mb_15" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">添加</button>
            
            <table class="table table-bordered table-hover">
                <thead>
                  
                 <tr>
                     <th width="5%">序号</th>
                     <th width="15%">项目名称</th>
                     <th width="15%">开始日期</th>
                     <th width="15%">结束日期</th>
                     <th width="10%">负责人</th>
                     <th width="15%">项目详情</th>
                     <th width="15%">申请经费</th>
                     <th width="5%">删除</th>
                     <th>操作</th>
                 </tr>
                
                </thead>
                <tbody class="text-center" style="line-height: 40px;">

                  <%for(var i=0;i<student.length;i++){%>
                    <tr>
                        <td><%=student[i].id%></td>
                        <td><%=student[i].proname%></td>
                        <td><%=student[i].startdata%></td>
                        <td><%=student[i].enddata%></td>
                        <td><%=student[i].fzname%></td>
                        <td><%=student[i].detail%></td>
                        <td><%=student[i].money%></td>
                        <td><a href="/delete?id=<%=student[i].id%>" class="btn btn-info">删除</span></td>
                        <td><a href="/update?id=<%=student[i].id%>" class="btn btn-primary" >修改</a></td>
                    </tr>
                   <%}%> 
                </tbody>
            </table>
            <div class="page">
                <ul class="pagination"></ul>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">请填写信息</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
      </div><form action="http://localhost:3000/sM/submit" method="post"> 
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">序号:</label>
            <input type="text" name="id" class="form-control" id="user-name">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">项目名称:</label>
            <input type="text" name="proname" class="form-control" id="web-name">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">开始日期:</label>
            <input type="text"  name="startdata" class="form-control" id="web-url">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">结束日期:</label>
            <input type="text" name="enddata" class="form-control" id="web-url">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">负责人:</label>
            <input type="text" name="fzname" class="form-control" id="web-url">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">项目详情:</label>
            <input type="text" name="detail" class="form-control" id="web-url">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">申请经费:</label>
            <input type="text" name="money" class="form-control" id="web-url">
          </div>
          <input class="btn btn-primary mx-auto" type="submit" value="提交">
        </form>
      </div>
     
    </div>
  </div>
</div>
        </div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">请填写信息</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      <div class="modal-body">
        <form action="http://localhost:3000/sM/update" method="post"> 
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">序号:</label>
            <input type="text" name="id" class="form-control" id="user-name">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">项目名称:</label>
            <input type="text" name="proname" class="form-control" id="web-name">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">开始日期:</label>
            <input type="text"  name="startdata" class="form-control" id="web-url">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">结束日期:</label>
            <input type="text" name="enddata" class="form-control" id="web-url">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">负责人:</label>
            <input type="text" name="fzname" class="form-control" id="web-url">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">项目详情:</label>
            <input type="text" name="detail" class="form-control" id="web-url">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">申请经费:</label>
            <input type="text" name="money" class="form-control" id="web-url">
          </div>
          <input class="btn btn-primary mx-auto" type="submit" value="提交">
        </form>
      </div>
     
    </div>
  </div>
</div>
        </div>
     <script src="assets/bootstrap/js/jquery.js"></script>
     <script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>
     <script src="assets/bootstrap/js/bootstrap.js"></script>

</body>
</html>